files/
clever/
logs/
keys/
passwords/
*.log
*.csv
*.old
settings.ps1
*.sqlite3
*-journal
/x_Interim*
/x_Post*
/y_*
/student-exports.ps1
/backup.ps1
*.zip
/temp/**
PostProcessingScripts/*.ps1
bin/temp/
z_functionsCustom.ps1
script_samples/PostProcessingScripts/*